body {
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
    }
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper > * {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    flex: 1 100%;
}
.wrapper video {
    position: absolute;
    object-fit: cover;
    width: 99%;
    height: 300%;
}
.wrapper h1{
    object-fit: cover;
    z-index: 2;
    color: yellow;
}
.wrapper p{
    object-fit: cover;
    z-index: 2;
    color: white;
}
.header {
    height: 240px;
    width: 100%;
    z-index: 2 ;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: center;
}
.nav {
    height: 100px;
    z-index: 2;
    background-image: url(cup.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.footer {
    padding: 10px;
    height: 300px;
    z-index: 2;
    background-image: url(foot.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer h1{
    text-align: justify;
}

.main {
    height: 300px;
    padding: 40px;
    text-align: center;
    z-index: 2;
}
.aside1 {
    height: 300px;
    padding: 20px;
    background-image: url(kyo.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    text-align: justify;
}

@media all and (min-width: 800px){
    .main{
        flex: 2;
    }
    .aside1{
        order: 2;
    }
    .main{
        order: 1;
    }
    .footer{
        order: 4;
    }
    .wrapper video {
        order: 1;
        width: 99%;
        height: 240%;

    }
    .nav{
        order: 1;
        position: relative;
        left: -1vh;
    }
}
@media all and (min-width: 600px){
    .aside1{
        flex: 1;
        background-repeat: no-repeat;
        background-size: contain; 
    }.wrapper video {
        flex: 1;
    }
    
}
